.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}
.page_results{
  color: #f38e82;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  max-width: 140px;
  margin-left: 90px;
  margin-top: 30px;
}
.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
