.add-recipe-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 9px;

  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;

  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.ingrdientsDes{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: start;
gap: 0.2rem;
}
// .error__message{
//   display: flex;
//   flex-direction: row;
//   justify-content: start;
//   gap: 0.4rem;
//   max-height: 100px;
//   & a {
//     text-decoration: none;
//     color: $color-grad-1;
//   }
// }
.add_ingridient{
  grid-column: 2 / span 1;
  margin-right: 10px;
  grid-row-end: auto;
  justify-self: center;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border: none;
  border-radius: 10rem;
  align-items: center;
  transition: all .5s;
  display: flex;
  padding: 5px 10px;
  font-size: 1.4rem;
  &:hover {
    transform: scale(1.05);
  }
  &:hover span {
    fill: $color-grad-2;
    transform: translateY(-1px);
  }
}
.descript{
  & p {
    font-size: 1.7rem;
    font-weight: 400;
    color: rgb(48, 32, 32);
  } 
}
.descript_btn_delete_ingridient {
  
  border: none;
  max-width: 0;
  .material-icons {
    font-size: 19px;
    text-align: center;
  }
}

.upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: repeat(3, 1fr);
  gap: 4rem 6rem;
  &__column2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.5rem;
    max-height: 100px;
    & label {
      font-size: 1.5rem;
      font-weight: 600;
      color: inherit;
    }
    & div {
      grid-column: 1 / span 3;
      // grid-row: 2 ;
    }
    & p {
      font-size: 1.5rem;
      font-weight: 400;
      color: rgb(48, 32, 32);
    } 
    & a {
      color: #f48982;
      font-size: 1.7rem;
      text-decoration: none;
    }
    // &__column2_add_ingridient{
    //   grid-column: 2 / span 1;
    //   margin-right: 10px;
    //   grid-row-end: auto;
    //   justify-self: center;
    //   color: #fff;
    //   cursor: pointer;
    //   background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
    //   border: none;
    //   border-radius: 10rem;
    //   align-items: center;
    //   transition: all .5s;
    //   display: flex;
    //   padding: 5px 10px;
    //   font-size: 1.4rem;
    //   &:hover {
    //     transform: scale(1.05);
    //   }
    //   &:hover span {
    //     fill: $color-grad-2;
    //     transform: translateY(-1px);
    //   }
    // }
    // & button{
    //   grid-column: 2 / span 1;
    //   margin-right: 10px;
    //   grid-row-end: auto;
    //   justify-self: center;
    //   color: #fff;
    //   cursor: pointer;
    //   background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
    //   border: none;
    //   border-radius: 10rem;
    //   align-items: center;
    //   transition: all .5s;
    //   display: flex;
    //   padding: 5px 10px;
    //   font-size: 1.4rem;
    //   &:hover {
    //     transform: scale(1.05);
    //   }
    // }
    // &:hover span {
    //   fill: $color-grad-2;
    //   transform: translateY(-1px);
    // }
    

    & input {
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      transition: all 0.2s;
      max-width: 100px;

      &::placeholder {
        color: $color-grey-light-3;
      }

      &:focus {
        outline: none;
        border: 1px solid $color-primary;
        background-color: $color-grey-light-1;
      }
    }
  }
  &__column {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    align-items: center;
    gap: 1.5rem;
    & label {
      font-size: 1.5rem;
      font-weight: 600;
      color: inherit;
    }

    & input {
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      transition: all 0.2s;

      &::placeholder {
        color: $color-grey-light-3;
      }

      &:focus {
        outline: none;
        border: 1px solid $color-primary;
        background-color: $color-grey-light-1;
      }
    }

    // & button {
    //   grid-column: 1 / span 2;
    //   justify-self: center;
    //   margin-top: 1rem;
    // }
  }
  

  &__heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    grid-column: 1/-1;
  }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
